 @font-face {
     font-family: 'MyFont';
     src: url('./my-font.otf') format('opentype');
     font-style: normal;
 }

 .hello {
     color: blue;
     font-family: 'MyFont';
     background: url('./img/icon.png');
 }